
 <!--  <p>"We should treat all the trivial things of life seriously, and all the serious things of life with sincere and studied triviality." ~ Oscar Wilde</p> -->
 <ion-content>
    <div class="text-center has-header">
    <br>
      <img class="bulb imgPad" src="img/light-bulb-brand-big.png">
    </div>
    <div class="row row-top">
      <div class="col"><button style="border: 2px solid #66B9BF; font-size: 32px; letter-spacing: 0.2em; text-shadow: 2px 2px #66B9BF" ng-click="trivia()" class="button button-block button-balanced btnBorder">Trivia Mode</button></div>
    </div>
    <div class="row row-center">
      <div class="col"><button style="border: 2px solid  #66B9BF; font-size: 32px; letter-spacing: 0.2em; text-shadow: 2px 2px #66B9BF" ng-click="jeoparty()" class="button button-block button-balanced btnBorder">Jeoparty Mode</button></div>
    </div>

    <div class="row row-bottom">
      <div class="col"><button style="border: 2px solid #66B9BF; font-size: 32px; letter-spacing: 0.2em; text-shadow: 2px 2px #66B9BF" ng-click="til()" class="button button-block button-balanced btnBorder">TIL</button></div>
    </div>
</ion-content>
